<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.ibest.mapper.AddressMapper">
	<resultMap id="BaseResult" type="com.ty.ibest.entity.Address">
		<id column="address_id" property="addressId"></id>
		<result column="name" property="name"></result>
		<result column="phone" property="phone"></result>
		<result column="address" property="address"></result>
		<result column="detail" property="detail"></result>
		<result column="is_default" property="isDefault"></result>
		<result column="consumer_id" property="consumerId"></result>
	</resultMap>
	<select id="getAddress" resultMap="BaseResult">
		SELECT *
		FROM
		address  WHERE consumer_id = #{consumerId}
	</select>
	<insert id="addAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="addressId">
        INSERT INTO address(name, phone,address,detail,is_default,consumer_id)
        VALUES(#{name},#{phone},#{address},#{detail},#{isDefault},#{consumerId})
    </insert>

    <update id="updateAddress" parameterType="ProductAttribute">
        UPDATE address
        SET
        name=
        #{name},
        phone = #{phone},
        address = #{address},
        detail = #{detail},
        is_default = #{isDefault},
        consumer_id = #{consumerId}
        WHERE
        address_id =
        #{addressId}
    </update>


    <delete id="deleteAddress" parameterType="int">
        DELETE FROM address WHERE address_id = #{addressId}
    </delete>
</mapper>