<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.ibest.mapper.CateMapper">
	<resultMap id="BaseResult" type="com.ty.ibest.entity.Cate">
		<id column="cate_id" property="cateId"></id>
		<result column="title" property="title"></result>

	</resultMap>
	<select id="queryProductCate" resultMap="BaseResult">
		SELECT *
		FROM
		cate
	</select>
	<insert id="addCate" parameterType="String">
		INSERT INTO cate (title)
		VALUES(#{title})
	</insert>
</mapper>