<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.ibest.mapper.UserMapper">
	<resultMap id="BaseResult" type="com.ty.ibest.entity.User">
		<id column="user_id" property="userId"></id>

		<result column="nick_name" property="nickName"></result>
		<result column="avatar" property="avatar"></result>
		<result column="open_id" property="openId"></result>
		<result column="create_time" property="createTime"></result>
		<result column="am_start_time" property="amStartTime"></result>
		<result column="am_end_time" property="amEndTime"></result>
		<result column="pm_start_time" property="pmStartTime"></result>
		<result column="pm_end_time" property="pmEndTime"></result>
		<result column="phone" property="phone"></result>
		<result column="real_name" property="realName"></result>
		<result column="address" property="address"></result>
		<result column="detail_address" property="detailAddress"></result>
		<result column="send_price" property="sendPrice"></result>
		<result column="delivery_fee" property="deliveryFee"></result>
		<result column="longitude" property="longitude"></result>
		<result column="latitude" property="latitude"></result>
		<result column="account_amount" property="account_amount"></result>
	

	</resultMap>
	<select id="getMerchant" resultMap="BaseResult">
		SELECT *
		FROM
		m_merchant

	</select>

	<select id="isLogin" resultMap="BaseResult">
		SELECT *
		FROM
		m_merchant WHERE
		m_phone = #{phone} AND m_password = #{password}
	</select>
	<insert id="addUser" parameterType="User"
		useGeneratedKeys="true" keyProperty="userId">
		INSERT INTO user(open_id)
		VALUES(#{openId})
<!-- 		<selectKey keyProperty="userId" resultType="java.lang.Integer">
	      select LAST_INSERT_ID() as userId
	      </selectKey> -->
	</insert>
	<select id="queryUserByOpenId" resultMap="BaseResult">
		SELECT *
		FROM
		user WHERE open_id = #{openId}

	</select>
	<select id="queryUserByPhone" resultMap="BaseResult">
		SELECT *
		FROM
		user WHERE phone = #{phone}
	</select>
	<select id="searchByPhone" resultMap="BaseResult">
		SELECT *
		FROM
		user
		WHERE phone = #{phone}
	</select>
	<!-- <insert id="toRegister" useGeneratedKeys="true">
		INSERT INTO user(phone, type)
		VALUES(#{phone},#{type})
		<selectKey resultType="int" order="AFTER" keyProperty="userId">
			SELECT LAST_INSERT_ID() AS userId
		</selectKey>
	</insert> -->
	<update id="toRegister" parameterType="User">
		UPDATE user SET
		phone =#{phone},
		type = #{type}
		WHERE
		open_id =
		#{openId}
	</update>
	<update id="updateMerchant" parameterType="User">
		UPDATE m_merchant
		SET
		m_name =#{name},
		m_province = #{province},
		m_city = #{city},
		m_region =
		#{region},
		m_block = #{block},
		m_wx_code = #{wxCode},
		m_longitute =
		#{longitute},
		m_latitude = #{latitude},
		m_send_price = #{sendPrice},
		m_open_time = #{openTime}

		WHERE
		m_phone =
		#{phone}

	</update>

	<update id="payProfit">
		UPDATE m_merchant
		SET
		m_profit = 0


		WHERE
		m_mid =
		#{id}

	</update>

	<delete id="deleteMerchant" parameterType="int">
		DELETE FROM m_merchant
		WHERE m_mid = #{merchantId}
	</delete>
</mapper>